02_AI睡眠健康顾问-Dify/AI睡眠健康顾问.yml
app:
  description: "基于多轮对话的智能睡眠管理系统。通过专业问诊收集信息，结合知识库和搜索引擎，提供个性化的睡眠改善方案。\n\n   核心功能：\n\
    \   • 智能多轮问诊\n   • 失眠严重程度评估\n   • 知识库RAG检索\n   • 网络搜索降级策略\n   • 个性化7天改善计划"
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: AI睡眠健康顾问
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.31@638e473191f93192f670875b06edf0bcb89a3433aa736be89ed1749073b8a168
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: qianfan/baidu_ai_search:0.0.1@97821ba294ff49a4d7fabb6746bfd7993373e27c2a110efd684865bf21f2ff6e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 对话历史
    id: 6424c432-4c50-4aae-a3a5-ee5967aa53b6
    name: conversation_his
    selector:
    - conversation
    - conversation_his
    value: []
    value_type: array[string]
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .MP4
      - .MOV
      - .MPEG
      - .WEBM
      allowed_file_types: []
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
      number_limits: 3
    opening_statement: 你好，我是晚安🌙，你的AI睡眠健康顾问。 我可以帮你： - 分析睡眠问题的类型和原因 - 提供个性化的改善方案 - 根据实时环境给出建议
      请告诉我你最近的睡眠困扰，我会通过几个问题了解具体情况，然后为你提供专业建议。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      configs: []
      enabled: false
      type: ''
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: answer
        targetType: if-else
      id: answer-source-1772674875830-target
      source: answer
      sourceHandle: source
      target: '1772674875830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-answer-target
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: llm--1772683579441-target
      source: llm
      sourceHandle: source
      target: '1772683579441'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1772674875830-true-1772705111703-target
      source: '1772674875830'
      sourceHandle: 'true'
      target: '1772705111703'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1772705111703-source-1772705264115-target
      source: '1772705111703'
      sourceHandle: source
      target: '1772705264115'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1772705264115-true-1772705371348-target
      source: '1772705264115'
      sourceHandle: 'true'
      target: '1772705371348'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1772705371348-source-1772705461722-target
      source: '1772705371348'
      sourceHandle: source
      target: '1772705461722'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1772705264115-false-1772705494116-target
      source: '1772705264115'
      sourceHandle: 'false'
      target: '1772705494116'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1772705494116-source-1772705626798-target
      source: '1772705494116'
      sourceHandle: source
      target: '1772705626798'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1772705626798-true-1772705668696-target
      source: '1772705626798'
      sourceHandle: 'true'
      target: '1772705668696'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1772705668696-source-1772706833058-target
      source: '1772705668696'
      sourceHandle: source
      target: '1772706833058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1772705626798-false-1772707390519-target
      source: '1772705626798'
      sourceHandle: 'false'
      target: '1772707390519'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1772707390519-source-1772707596613-target
      source: '1772707390519'
      sourceHandle: source
      target: '1772707596613'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1772707596613-source-1772707703593-target
      source: '1772707596613'
      sourceHandle: source
      target: '1772707703593'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: START
        type: start
        variables: []
      height: 74
      id: start
      position:
        x: 77.98887883920304
        y: 261
      positionAbsolute:
        x: 77.98887883920304
        y: 261
      selected: false
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
        model:
          completion_params:
            stop: []
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1a5d4076-ad5f-45e6-ae63-a90b9bd66633
          role: user
          text: "# 角色定位\n你是「晚安」，一位专业温柔的AI睡眠健康顾问。\n\n# 你的工作流程\n你的任务是通过多轮对话，逐步收集用户的睡眠问题信息，然后为他们提供专业的改善方案。\n\
            将对话历史存入{{#conversation.conversation_his#}}\n\n## 第一阶段：信息收集（你现在的任务）\n\n\
            你需要收集以下5项必要信息：\n\n1. **失眠类型**（必填）\n   - 入睡困难：躺下后>30分钟才能睡着\n   - 中途觉醒：夜间醒来≥2次\n\
            \   - 早醒：比计划提前≥2小时醒来\n   \n2. **持续时间**（必填）\n   - 短期：<2周\n   - 中期：2周-3个月\
            \  \n   - 长期：>3个月\n\n3. **严重程度**（必填）\n   - 让用户自评1-10分（10分最严重）\n\n4. **可能原因**（必填）\n\
            \   - 工作压力/焦虑\n   - 兴奋/思维活跃\n   - 环境因素（温度、噪音等）\n   - 生活习惯\n   - 其他\n\n\
            5. **之前尝试的方法**（选填）\n   - 用户是否尝试过改善\n   - 效果如何\n\n## 对话策略\n\n**初次接触：**\n\
            - 用温柔的语气问候\n- 让用户自然描述睡眠问题\n- 不要一次性问5个问题（太生硬）\n\n**逐步追问：**\n- 根据用户的回答，自然地追问缺失的信息\n\
            - 一次只问1-2个问题\n- 用同理心回应用户的困扰\n\n**示例对话：**\n用户：\"我最近睡不好\" 你：\"我能理解睡不好的困扰。能具体说说是什么情况吗？比如是躺下睡不着，还是半夜容易醒来？\"\
            \n用户：\"躺下后要很久才能睡着\" 你：\"这确实很影响休息。大概需要多长时间才能入睡呢？这种情况持续多久了？\"\n用户：\"至少1小时，已经2个月了\"\
            \ 你：\"了解了。你觉得这个问题对你的影响有多大？如果1分最轻，10分最严重，你会打几分？\"\n用户：\"7分吧，白天都没精神\" 你：\"\
            我理解你的感受。你有想过可能是什么原因导致的吗？比如工作压力、生活变化，或者睡眠环境的问题？\"\n\n## 信息完整度检查\n\n在每次用户回答后，在心里检查：\n\
            - ✅ 类型：已收集\n- ✅ 时间：已收集  \n- ✅ 程度：已收集\n- ✅ 原因：已收集\n- ❌ 尝试：未收集\n\n如果还有未收集的关键信息，继续追问。\n\
            如果5项必要信息都收集完成，告诉用户：\"感谢你提供的信息，我现在为你进行专业分析...\"\n\n## 注意事项\n\n1. **不要在这个阶段给建议**\n\
            \   - 你现在的任务只是收集信息\n   - 分析和方案会在后续工作流中完成\n\n2. **保持同理心**\n   - 失眠的人通常很焦虑\n\
            \   - 用温柔、理解的语气\n   - 避免\"你应该XXX\"的指令式语气\n\n3. **自然对话**\n   - 不要像填表一样机械提问\n\
            \   - 根据上下文灵活调整\n\n4. **简洁回复**\n   - 每次回复1-3句话\n   - 不要一次性输出大段文字\n\n##\
            \ 输出格式要求 \n当你确认5项信息都收集完成后，你的回复格式： 【收集完成】 感谢你提供的详细信息。让我为你进行专业分析... 以下是我收集到的信息：\
            \ - 失眠类型：入睡困难 - 持续时间：2个月（中期） - 严重程度：7/10分（中度） - 可能原因：工作压力 - 尝试方法：未尝试 我会基于这些信息，为你生成个性化的改善方案。\n"
        selected: false
        title: LLM
        type: llm
        vision:
          configs: null
          enabled: false
          variable_selector: null
      height: 89
      id: llm
      position:
        x: 410.16681741195396
        y: 282
      positionAbsolute:
        x: 410.16681741195396
        y: 282
      selected: false
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: ANSWER
        type: answer
      height: 104
      id: answer
      position:
        x: 778.5876539678129
        y: 282
      positionAbsolute:
        x: 778.5876539678129
        y: 282
      selected: false
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 18a8442f-0659-4cd8-8e59-660ff8157392
            value: 收集完成
            varType: string
            variable_selector:
            - llm
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 125
      id: '1772674875830'
      position:
        x: 1158.8757040391365
        y: 282
      positionAbsolute:
        x: 1158.8757040391365
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - conversation_his
          write_mode: over-write
        - input_type: variable
          operation: append
          value:
          - llm
          - text
          variable_selector:
          - conversation
          - conversation_his
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 111
      id: '1772683579441'
      position:
        x: 778.5876539678129
        y: 432.9731957849657
      positionAbsolute:
        x: 778.5876539678129
        y: 432.9731957849657
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: b6b97848-131d-4db4-bc0c-477789444985
          role: system
          text: '你是睡眠问题分析专家。


            根据对话历史{{#conversation.conversation_his#}}，完成以下任务：


            1. 提取用户的失眠类型（入睡困难/中途觉醒/早醒）

            2. 评估严重程度（1-10分）

            3. 判断级别


            ## 判断标准

            - 8-10分：重度失眠（建议就医）

            - 1-7分：轻中度失眠（可自我改善）


            ## 输出格式


            严格按照以下格式输出：


            【评估结果】

            失眠类型：[入睡困难/中途觉醒/早醒]

            评分：X/10分

            级别：[重度/轻中度]

            主要原因：[简短描述]


            如果是重度（≥8分），在最后加上：

            [重度标记]


            如果是轻中度（<8分），在最后加上：

            [轻中度标记]


            示例输出：

            【评估结果】

            失眠类型：入睡困难

            评分：9/10分

            级别：重度

            主要原因：工作压力导致焦虑

            [重度标记]'
        selected: false
        title: 分析评级
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1772705111703'
      position:
        x: 1545.9252347176082
        y: 313.56116514720253
      positionAbsolute:
        x: 1545.9252347176082
        y: 313.56116514720253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 5f619ece-8a16-4f05-ab98-c2ba2b54758d
            value: 重度标记
            varType: string
            variable_selector:
            - '1772705111703'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 严重程度分支
        type: if-else
      height: 125
      id: '1772705264115'
      position:
        x: 1928.328673983943
        y: 313.56116514720253
      positionAbsolute:
        x: 1928.328673983943
        y: 313.56116514720253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 99a0ca13-2ed9-4faf-81ad-f9cf40fcced8
          role: system
          text: '你是温柔专业的睡眠顾问。


            用户的评估结果：

            {{#1772705111703.text#}}


            用户的失眠问题已经比较严重，请生成一份温柔但坚定的就医建议。


            ## 输出格式


            根据你的情况，你的失眠问题已经比较严重了😔


            **我诚恳地建议你尽快就医，原因是：**


            1. 长期严重失眠会影响身体健康和免疫力

            2. 可能需要专业的评估和治疗方案

            3. 自我调整可能效果有限


            **你可以这样做：**

            - 挂号睡眠科、神经内科或心理科

            - 提前准备好你的睡眠记录

            - 告诉医生你的具体症状


            **在等待就医期间：**

            - 保持规律作息

            - 避免睡前使用电子设备

            - 可以尝试简单的呼吸放松


            请好好照顾自己🌙'
        selected: false
        title: 生成就医建议
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1772705371348'
      position:
        x: 2290.822496848073
        y: 341.9078761226332
      positionAbsolute:
        x: 2290.822496848073
        y: 341.9078761226332
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1772705371348.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 104
      id: '1772705461722'
      position:
        x: 2641.624823319652
        y: 341.9078761226332
      positionAbsolute:
        x: 2641.624823319652
        y: 341.9078761226332
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - Yu/NFbhGxhI28hxr6LWcmX2ehGftk1IPCysVTzVn5flgABzSPwWTRizfR+8qffjX
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1772705111703'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识库检索
        type: knowledge-retrieval
      height: 91
      id: '1772705494116'
      position:
        x: 2305.31130103446
        y: 511.4954492071803
      positionAbsolute:
        x: 2305.31130103446
        y: 511.4954492071803
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: ed473a2f-438e-4fb2-8f3b-efb1adc7af7c
            value: ''
            varType: array[object]
            variable_selector:
            - '1772705494116'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 检索结果判断
        type: if-else
      height: 125
      id: '1772705626798'
      position:
        x: 2651.3660709539536
        y: 511.4954492071803
      positionAbsolute:
        x: 2651.3660709539536
        y: 511.4954492071803
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772705494116'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: e4a62def-5921-418a-8074-44ed590cb72d
          role: system
          text: '你是专业的睡眠健康顾问。


            用户的评估：

            {{#1772705111703.text#}}


            ## 你的任务

            基于知识库检索出来的内容，生成一份个性化的7天改善计划。


            ## 输出格式


            根据你的情况，我为你制定了一份7天改善计划：


            **你的问题分析：**

            [根据评估结果，简短分析1-2句]


            **改善方案：**


            **Day 1-2：建立基础**

            - 早上：[具体行动]

            - 白天：[具体行动]

            - 晚上：[具体行动]


            **Day 3-5：强化习惯**

            - [具体行动建议]


            **Day 6-7：巩固效果**

            - [具体行动建议]


            **重点提醒：**

            - [根据知识库内容，提炼2-3个关键建议]


            坚持7天，你会看到明显改善🌙///'
        selected: false
        title: 基于知识库生成方案
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1772705668696'
      position:
        x: 3010.4057029572596
        y: 544.0312646490722
      positionAbsolute:
        x: 3010.4057029572596
        y: 544.0312646490722
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1772705668696.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 104
      id: '1772706833058'
      position:
        x: 3412.9820081936045
        y: 544.0312646490722
      positionAbsolute:
        x: 3412.9820081936045
        y: 544.0312646490722
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Search query keywords or phrases.
            ja_JP: Search query keywords or phrases.
            pt_BR: Search query keywords or phrases.
            zh_Hans: 搜索查询关键词或短语
          label:
            en_US: Search query
            ja_JP: Search query
            pt_BR: Search query
            zh_Hans: 搜索查询
          llm_description: ''
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Specify the model for result summarization (e.g. "ERNIE-3.5-8K").
              Model list: https://cloud.baidu.com/doc/qianfan/s/rmh4stp0j'
            ja_JP: 'Specify the model for result summarization (e.g. "ERNIE-3.5-8K").
              Model list: https://cloud.baidu.com/doc/qianfan/s/rmh4stp0j'
            pt_BR: 'Specify the model for result summarization (e.g. "ERNIE-3.5-8K").
              Model list: https://cloud.baidu.com/doc/qianfan/s/rmh4stp0j'
            zh_Hans: 指定用于结果总结的模型（如"ERNIE-3.5-8K"）选择模型可前往：https://cloud.baidu.com/doc/qianfan/s/rmh4stp0j
          label:
            en_US: Model selection
            ja_JP: Model selection
            pt_BR: Model selection
            zh_Hans: 模型选择
          llm_description: ''
          max: null
          min: null
          name: model
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 0.8
          form: llm
          human_description:
            en_US: Controls output randomness, range 0-1.0, default 0.8
            ja_JP: Controls output randomness, range 0-1.0, default 0.8
            pt_BR: Controls output randomness, range 0-1.0, default 0.8
            zh_Hans: 输出随机性控制，范围0-1.0，默认0.8
          label:
            en_US: Temperature
            ja_JP: Temperature
            pt_BR: Temperature
            zh_Hans: 随机性控制
          llm_description: ''
          max: 1
          min: 0
          name: temperature
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 0.8
          form: llm
          human_description:
            en_US: Controls output diversity, range 0-1.0, default 0.8
            ja_JP: Controls output diversity, range 0-1.0, default 0.8
            pt_BR: Controls output diversity, range 0-1.0, default 0.8
            zh_Hans: 多样性控制，范围0-1.0，默认0.8
          label:
            en_US: Top-P
            ja_JP: Top-P
            pt_BR: Top-P
            zh_Hans: 多样性控制
          llm_description: ''
          max: 1
          min: 0
          name: top_p
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: '[{"type": "web", "top_k": 10}]'
          form: llm
          human_description:
            en_US: The top_k range for each resource type (web, image, video, etc.)
              is 1~10.
            ja_JP: The top_k range for each resource type (web, image, video, etc.)
              is 1~10.
            pt_BR: The top_k range for each resource type (web, image, video, etc.)
              is 1~10.
            zh_Hans: 每种资源类型（web、image、video等）的top_k取值范围为1~10。
          label:
            en_US: Resource filter
            ja_JP: Resource filter
            pt_BR: Resource filter
            zh_Hans: 资源过滤
          llm_description: ''
          max: null
          min: null
          name: resource_type_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: array
        params:
          model: ''
          query: ''
          resource_type_filter: ''
          temperature: ''
          top_p: ''
        plugin_id: qianfan/baidu_ai_search
        plugin_unique_identifier: qianfan/baidu_ai_search:0.0.1@97821ba294ff49a4d7fabb6746bfd7993373e27c2a110efd684865bf21f2ff6e
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=7ad5cab1-e17c-47ff-814d-1d567960641c&filename=6abf3075b001f405d82db8b68d08722a9fd9014c79877c7177204e8fea22fb1e.png
        provider_id: qianfan/baidu_ai_search/baidu_ai_search
        provider_name: qianfan/baidu_ai_search/baidu_ai_search
        provider_type: builtin
        selected: false
        title: 网络搜索
        tool_configurations: {}
        tool_description: 提供AI增强的智能语义搜索工具
        tool_label: 智能搜索生成
        tool_name: smart_search
        tool_node_version: '2'
        tool_parameters:
          model:
            type: mixed
            value: ''
          query:
            type: mixed
            value: '{{#1772705111703.text#}}改善方法'
          resource_type_filter:
            type: constant
            value: '[{"type": "web", "top_k": 10}]'
          temperature:
            type: constant
            value: 0.8
          top_p:
            type: constant
            value: 0.8
        type: tool
      height: 53
      id: '1772707390519'
      position:
        x: 3032.1837801247852
        y: 761.436351241535
      positionAbsolute:
        x: 3032.1837801247852
        y: 761.436351241535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: b7f7ab45-1b88-48d0-be1d-d7acf201164b
          role: system
          text: '你是睡眠健康顾问。


            用户的评估：

            {{#1772705111703.text#}}


            从网络搜索到的内容：

            {{#1772707390519.text#}}

            ## 你的任务

            基于搜索结果，生成改善建议。


            **重要声明：**

            在回答开头加上：

            "⚠️ 由于专业知识库中没有找到完全匹配的内容，以下建议来自网络搜索，仅供参考。如果问题严重，请咨询专业医生。"


            ## 输出格式


            ⚠️ 由于专业知识库中没有找到完全匹配的内容，以下建议来自网络搜索，仅供参考。如果问题严重，请咨询专业医生。


            **你的问题：**

            [简短总结]


            **建议尝试：**

            - [从搜索结果提炼3-5个建议]


            **温馨提示：**

            - 这些方法需要持续2周以上才能看到效果

            - 如果尝试后仍无改善，建议就医


            希望对你有帮助🌙'
        selected: false
        title: 基于搜索生成方案
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1772707596613'
      position:
        x: 3360.292945190372
        y: 761.436351241535
      positionAbsolute:
        x: 3360.292945190372
        y: 761.436351241535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1772707596613.text#}}'
        selected: false
        title: 直接回复 4
        type: answer
        variables: []
      height: 104
      id: '1772707703593'
      position:
        x: 3742.2886519638105
        y: 763.8313086507728
      positionAbsolute:
        x: 3742.2886519638105
        y: 763.8313086507728
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -2342.0609306639026
      y: -211.15885912099475
      zoom: 1.2047752438026367
  rag_pipeline_variables: []
